<% if (title) { %>
    <h1><%= title %></h1>
<% } else {
    res.redirect('/');
} %>

<%- messages() %>

<% if (errors) { %>
    <ul class="notice-bad">
        <% errors.array({ onlyFirstError: true }).forEach(error => { %>
            <li><%= error.msg %></li>
    <% }); %>
    </ul>
<% } %>

<form action="/inv/addInv" method="post">
    <i>All fields are required.</i>
    <label>Classification<select name="classification_id" required>
        <option value="" <%= !locals.classification_id ? "selected" : "" %> disabled>Select a Classification</option>
        <%- classifications %>
    </select></label>
    <label>Make: <input type="text" name="inv_make" required pattern="[a-zA-Z]{3,}" placeholder="Min. 3 characters" value="<%= locals.inv_make %>"></label>
    <label>Model: <input type="text" name="inv_model" required pattern="[a-zA-Z]{3,}" placeholder="Min. 3 characters" value="<%= locals.inv_model %>"></label>
    <label>Year: <input type="number" name="inv_year" required min="1000" placeholder="4-digit year" value="<%= locals.inv_year %>"></label>
    <label>Milage: <input type="number" name="inv_miles" required placeholder="Digits only" value="<%= locals.inv_miles %>"></label>
    <label>Price: <input type="text" name="inv_price" required pattern="[0-9.]+" placeholder="Decimal or integer" value="<%= locals.inv_price %>"></label>
    <label>Color:<input type="text" name="inv_color" required pattern="[a-zA-Z]{3,}" value="<%= locals.inv_color %>"></label>
    <label>Description<textarea name="inv_description" required><%- locals.inv_description %></textarea></label>
    <label>Image Path: <input type="text" name="inv_image" required value="<%- locals.inv_image || '/images/vehicles/no-image.png' %>"></label>
    <label>Thumbnail Path: <input type="text" name="inv_thumbnail" required value="<%- locals.inv_thumbnail || '/images/vehicles/no-image-tn.png' %>"></label>
    <button type="submit">Add Vehicle</button>
</form>